
body {
    margin: 0;
}

.title{
    text-align: center;
}

/* Basic styling for the header */
header {
    display: flex;
    justify-content: center;



    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header is on top of other elements */
    transition: background-color 0.3s ease; /* Add smooth transition effect for background color */
}

.header h6{
    width: 125px;
    height: 30px;
    font-size: larger;
    margin: 5; /* Remove default margin to avoid extra spacing */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h6.current_page {
    background-color: #90E0EF; 
    font-weight: bold;
}

footer{
    background-color: black;
    width: 100vw;

    height: 100px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
