body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(202, 200, 200);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(5, 18, 75); 
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}



.header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h6 {
    width: 8.5rem;
    height: 35px;
    font-size: 1.2rem;
    margin: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h6:hover {
    background-color: #91e2f3;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.header h6 a {
    color: #023E8A;
    text-decoration: none;
}

.header h6.current_page {
    background-color: #bef1fb;
    font-weight: bold;
}

.header h6.current_page a {
    color: #0077B6;
}

footer{
    background-color: black;

    height: fit-content;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerText{
    padding-left: 32px;
}

.uoftlogo{
    width: 8%;
    height: auto;
}

.page-border{
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 110px;
    padding-right: 110px;
    align-content: center;
}

.title{
    text-align: center;
    font-size: 2rem;
}

.prof_img{
    width: 250px;
    height: auto;
    margin-top: 10px;
}

.instructor{
    margin: 0 auto;
    padding-bottom: 50px;
}

table, th, td {
    border: 2px solid;
}

td, th {
    text-align: center;
    padding: 20px;
}

.outline table{
    border: 1px solid;
}
