<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/instructor.css">
    <link rel="icon" type="image/icon type" href="../static/docs/tree.png"/>
    <title>CSCB20 A3 - Student Grades</title>
</head>
<body>
    <div class="header">
        <header>
            <h6><a href="./index.html">Home</a></h6>
            <h6><a href="./calendar.html">Calendar</a></h6>
            <h6><a href="./content.html">Content</a></h6>
            <h6><a href="./assignments.html">Assignments</a></h6>
            <h6><a href="./labs.html">Labs</a></h6>
            <h6><a href="./team.html">Course Team</a></h6>
            <h6><a href="./feedback.html">Feedback</a></h6>
            <!-- Logout button -->
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </header>
    </div>

    <div class="page-border">
        <h1 class="heading">All Student Grades for CSCB20</h1>
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Assignment/Test</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.user.uname }}</td>
                    <td>{{ grade.work }}</td>
                    <td>{{ grade.grade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>