<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/instructor.css">
    <link rel="icon" type="image/icon type" href="../static/docs/tree.png"/>
    <title>CSCB20 A3 - Instructor Feedback</title>
</head>
<body>
    <div class="header">
        <header>
            <h6><a href="./index.html">Home</a></h6>
            <h6><a href="./calendar.html">Calendar</a></h6>
            <h6><a href="./content.html">Content</a></h6>
            <h6><a href="./assignments.html">Assignments</a></h6>
            <h6><a href="./labs.html">Labs</a></h6>
            <h6><a href="./team.html">Course Team</a></h6>
            <h6><a href="./feedback.html">Feedback</a></h6>
            <!-- Logout button -->
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </header>
    </div>

    <div class="page-border">
        <h1 class="heading">My Feedback</h1>
        <table class="feedback">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Lecture Likes</th>
                    <th>Lecture Feedback</th>
                    <th>Lab Likes</th>
                    <th>Lab Feedback</th>
                    <th>Additional Comments</th>

                </tr>
            </thead>
            <tbody>
                {% for feedback_item, student_name in feedback %}
                <tr>
                    <td>{{ student_name }}</td>
                    <td>{{ feedback_item.lec_like }}</td>
                    <td>{{ feedback_item.lec_improve }}</td>
                    <td>{{ feedback_item.lab_like }}</td>
                    <td>{{ feedback_item.lab_improve }}</td>
                    <td>{{ feedback_item.comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>