<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if 'Success' in message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

    <h1>Login</h1>
    <div>
        <a href="/" class="btn btn-primary mr-2">Home</a>
        <a href="/introduce" class="btn btn-secondary mr-2">Introduce</a>
        <a href="/developers" class="btn btn-info">Developers</a>
    </div>
    <hr>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Sign Up</a></p>
</div>

</body>
</html>
