<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

    <h1>Sign Up</h1>
    <div>
        <a href="/" class="btn btn-primary mr-2">Home</a>
        <a href="/introduce" class="btn btn-secondary mr-2">Introduce</a>
        <a href="/developers" class="btn btn-info">Developers</a>
    </div>
    <hr>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="newUsername">Username</label>
            <input type="text" class="form-control" id="newUsername" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" id="newPassword" name="password" required>
        </div>
        <div class="form-group">
            <label for="newUserType">User Type</label>
            <select class="form-control" id="newUserType" name="user_type" required>
                <option value="instructor">Instructor</option>
                <option value="student">Student</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>

</body>
</html>
