<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <button id = "openForm">Request Regrade</button>
        <div class = "request_form" id = "request_form">
            <div class = inner_form>
                <form action="{{ url_for('studentGrades') }}" method="post">
                    <h2>Remark Request</h2>
                    <label for="question">Question (if applicable):</label>
                    <input type="number" id = "question" name = "question">
                    <label for="request">Reason for request:</label>
                    <input type="text" id = "request" name = "request" requiers>
                </form>
                <button type = "submit" id = "submit_request">Submit</button>
                <button id = "closeForm">&times;</button>
            </div>
        </div>
        <script src = "script.js"></script>

    {% endblock %}
 
</body>
</html>