
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/studentGrades.css"/>
        <link rel="icon" type="image/icon type" href="../static/docs/tree.png"/>
        <title>Grades</title>
    </head>
    <body>
    {% block content %}
        {% for Grade in student_grades %}
            <div class = "overlay" id = "overlay{{ loop.index }}">
                <div class = "modal" id = "modal {{ loop.index }}">
                    <button class = "close-modal-btn">&times;</button>
                    <form method="post">
                        <h2 class = formTitle>Remark Request for {{ Grade.work }}</h2>
                        <label for="question{{ loop.index }}">Question (if applicable):</label>
                        <input type="number" id = "question{{ loop.index }}" name = "question"><br><br>
                        <label for="request{{ loop.index }}">Reason for request:</label>
                        <input class = "request-reason" type="text" id = "request{{ loop.index }}" name = "request" requiers> <br><br>
                        <button type = "submit" class = "submit_btn">Submit</button>
                    </form>
                </div>  
            </div>    
         {% endfor %}


        <div class = "website_content">

            <div class="header">
                <header>
                    <h6><a href="./index.html">Home</a></h6>
                    <h6><a href="./calendar.html">Calendar</a></h6>
                    <h6><a href="./content.html">Content</a></h6>
                    <h6 class="current_page"><a href="./assignments.html">Assignments</a></h6>
                    <h6><a href="./labs.html">Labs</a></h6>
                    <h6><a href="./team.html">Course Team</a></h6>
                    <h6><a href="./feedback.html">Feedback</a></h6>
                </header>
            </div>

            <h1 class = "title">Your Grades</h1>
    
            <div class = "grades_table">
                <table>
                    <tr>
                        <th>Course Work</th>
                        <th>Grade</th>
                        <th></th>
                    </tr>
                    {% for Grade in student_grades %}
                    <tr>
                        
                        <td>{{ Grade.work }}</td>
                        <td>{{ Grade.grade }}</td>
                        <td>
                            <button type = "button" class = "open-modal-btn">Request Remark</button>
                        </td>        
                    </tr>
                    {% endfor %}
            </table>

        </div>

    {% endblock %}
    <script src = "../static/script.js"></script>
    </body>
    </html>
    
